doctype html
html
    head
        title Homepage
        link(rel="stylesheet", href="/styles.css")
    body
        h1 Welcome to the Pet Management System

        a(href="/update-pet") Add to this table

        table(border="1" cellpadding="5" cellspacing="0")
            thead
                tr
                    th ID
                    th Name
                    th Type
                    th History
            tbody
                each pet in pets
                    tr
                        td= pet.id
                        td= pet.properties.name
                        td= pet.properties.type
                        td= pet.properties.history