doctype html
html
  head
    title Update Pet Record
  body
    h1 Add a Pet Record

    form(method="POST" action="/update-pet")
        div
            label(for="pet_id") ID:
            input(type="text" name="pet_id" required)
      div
        label(for="name") Name:
        input(type="text" name="name")
      div
        label(for="type") Type:
        select(name="type")
        option(value="dog") Dog
        option(value="cat") Cat
        option(value="other") Other
      div
        label(for="history") History:
        textareat(name="history")
      div
        button(type="submit") Submit

    br
    a(href="/") Return to Home