html
  head
    title Update Pet
  body
    h1 Update an Existing Pet

    form(action="/update-pet" method="POST")
      div
        label(for="pet_id") ID:
        input(type="number" name="pet_id" required)

      div
        label(for="name") Name:
        input(type="text" name="name")

      div
        label(for="type") Type:
        select(name="type")
          option(value="Dog") Dog
          option(value="Cat") Cat
          option(value="Other") Other

      div
        label(for="history") History:
        textarea(name="history")

      button(type="submit") Update Pet
    br
    a(href="/") Return to Home